html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  margin: 0% 0%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.2s ease-in-out;
}

.box-shadow:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.box-shadow:active {
  color: inherit;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

.button-std {
  background-color: #fd7400;
  width: 120px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: 95%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  margin: 0% 3%;
  text-align: center;
  line-height: 45px;
}

.button-alt {
  background-color: #424242;
  color: white;
}

.flex-box {
  display: flex;
  justify-content: center;
}

.header {
  font-weight: 200;
  font-size: 170%;
  margin: 5% 0%;
}

#title {
  font-weight: 100;
  font-size: 170%;
  margin: 5% 25% 8% 25%;
  color: black;
}

#logo {
  margin: 2% 0% 3% 0%;
}

#about {
  color: black;
}

#button-deck {
  margin: 0% 0% 25% 0%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: #fd7400;
}

.breaker {
  border: 1px solid #fd7400;
  border-width: 1px 0px 0px 0px;
  background-color: #fd7400;
  color: black;
  padding: 0px;
  font-size: 110%;
  text-align: center;
}
